os:
  - linux
  - osx

language: generic
sudo: required
osx_image: xcode11.3
dist: bionic
compiler: clang

install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
  - which swift
  - swift --version

script:
  - swift build
