os:
  - linux
  - osx

language: generic
osx_image: xcode11.3
dist: bionic
compiler: clang

install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
  - which swift
  - swift --version

script:
  - swift build
  - swift run TTR ./iberia.json
  - swift run TTR ./iberia2.json
  - swift run TTR ./europe.json
